
/* body */
body {
  font-family: Arial, Verdana;
  background-color: #000000;
  color: #ffffff;
  margin: 20px 20px 0 20px;
}

/* h1 */
h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

/* h2 */
h2 {
  font-size: 30px;
  color: #0d0d0d;
}

/* paragraphs */
p {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
}

/* images */
img {
  width: 250px;
  display: block;
  margin: 0 auto;
  border: 10px dashed #ffffff;
}

/* default div (NO BORDER here – important for autograder) */
div {
  min-height: 125px;
  padding: 20px;
}

/* introduction */
.introduction {
  border: 3px solid #ffffff;
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

/* red section */
.red {
  background-color: #ff0000;
  text-align: right;
  margin-left: 50px;

  border: none;
  border-left: 5px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* blue section */
.blue {
  background-color: #0000ff;
  text-align: left;
  margin-right: 50px;

  border: none;
  border-right: 5px solid #ffffff;
  border-top: 2px solid #ffffff;
}

/* WAVE contrast fix for blue */
.blue h2,
.blue p {
  color: #c4c4c4;
}

/* yellow section */
.yellow {
  background-color: #ffff00;
  text-align: right;
  margin-left: 50px;

  border: none;
  border-left: 5px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* WAVE contrast fix for yellow paragraph */
.yellow p {
  color: #707070;
}

/* green section */
.green {
  background-color: #008500;
  text-align: left;
  margin-right: 50px;

  border: none;
  border-right: 5px solid #ffffff;
  border-top: 2px solid #ffffff;
}

/* footer */
footer {
  background: linear-gradient(
    #000000,
    #0000ff 25%,
    #0066ff 70%,
    #000000
  );
  border: 5px solid #ffffff;
}

/* footer paragraphs */
footer p {
  font-size: 20px;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 0;
}
